In [3]:
import pandas as pd

In [4]:
movies_df=pd.read_csv(r'C:\Users\hp\Desktop\IT projects\Movie recommendation p1\ml-latest-small\movies.csv')

In [5]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [6]:
ratings_df=pd.read_csv(r'C:\Users\hp\Desktop\IT projects\Movie recommendation p1\ml-latest-small\ratings.csv')

In [7]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
tags_df=pd.read_csv(r'C:\Users\hp\Desktop\IT projects\Movie recommendation p1\ml-latest-small\tags.csv')

In [9]:
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [10]:
links_df=pd.read_csv(r'C:\Users\hp\Desktop\IT projects\Movie recommendation p1\ml-latest-small\links.csv')

In [11]:
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [20]:
movies_df.shape

(9742, 3)

In [13]:
links_df.shape

(9742, 3)

In [14]:
tags_df.shape

(3683, 4)

In [15]:
ratings_df.shape

(100836, 4)

In [21]:
movies_df=movies_df.merge(links_df, on='movieId')

In [22]:
movies_df.head()

,movieId,title,genres,imdbId,tmdbId
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
1,2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0
2,3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,114885,31357.0
4,5,Father of the Bride Part II (1995),Comedy,113041,11862.0

In [23]:
movies_df.shape

(9742, 5)

In [24]:
ratings_df.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [25]:
tags_df.isnull().sum()

userId       0
movieId      0
tag          0
timestamp    0
dtype: int64

In [26]:
tags_df.duplicated().sum()

np.int64(0)

In [27]:
movies_df.isnull().sum()

movieId    0
title      0
genres     0
imdbId     0
tmdbId     8
dtype: int64

In [28]:
movies_df.duplicated().sum()

np.int64(0)

In [29]:
import numpy as np

In [30]:
movies_df=movies_df.merge(ratings_df, on='movieId')

In [31]:
movies_df.head()

,movieId,title,genres,imdbId,tmdbId,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,17,4.5,1305696483

In [32]:
movies_df.shape

(100836, 8)

In [33]:
movies_df=movies_df.merge(tags_df, on='movieId')

In [34]:
movies_df.shape

(233213, 11)

In [35]:
movies_df.head()

,movieId,title,genres,imdbId,tmdbId,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1,4.0,964982703,336,pixar,1139045764
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1,4.0,964982703,474,pixar,1137206825
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1,4.0,964982703,567,fun,1525286013
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5,4.0,847434962,336,pixar,1139045764
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5,4.0,847434962,474,pixar,1137206825

In [36]:
movies_df['title'][0]

'Toy Story (1995)'

In [37]:
movies_df.duplicated().sum()

np.int64(0)

In [38]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233213 entries, 0 to 233212
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movieId      233213 non-null  int64
 1   title        233213 non-null  object
 2   genres       233213 non-null  object
 3   imdbId       233213 non-null  int64
 4   tmdbId       233213 non-null  float64
 5   userId_x     233213 non-null  int64
 6   rating       233213 non-null  float64
 7   timestamp_x  233213 non-null  int64
 8   userId_y     233213 non-null  int64
 9   tag          233213 non-null  object
 10  timestamp_y  233213 non-null  int64
dtypes: float64(2), int64(6), object(3)
memory usage: 19.6+ MB

In [39]:
movies_df.isnull().sum()

movieId        0
title          0
genres         0
imdbId         0
tmdbId         0
userId_x       0
rating         0
timestamp_x    0
userId_y       0
tag            0
timestamp_y    0
dtype: int64

In [40]:
movies_df.dropna(inplace=True)

In [41]:
movies_df.head()

,movieId,title,genres,imdbId,tmdbId,userId_x,rating,timestamp_x,userId_y,tag,timestamp_y
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1,4.0,964982703,336,pixar,1139045764
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1,4.0,964982703,474,pixar,1137206825
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1,4.0,964982703,567,fun,1525286013
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5,4.0,847434962,336,pixar,1139045764
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,5,4.0,847434962,474,pixar,1137206825